/* ---------------------------------------------------------------------------------------------------
-------------------------CSS GLOBAL-------------------------------------------
 */

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}

.white_txt{
    color: aliceblue;
}

.NoLine{
    list-style-type: none;
    text-decoration: none;
}

.navButton{
    float: right;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 3px;
    margin: 30px 30px 0 0;
}

main{
    background-color: rgb(247, 247, 247);
}
footer{
    background-color: rgb(34, 34, 34);
    padding: 40px;
}
.centered_txt{
    display: flex;
    justify-content: center;
}

/* -------------------------------------------------------------------------------------------
---------------- VERSION MOBILE, MAX WITDH DE 430PX DONC DE 0 à 430PX MAX---------------------
---------------------------------------------------------------------------------------------- */
@media screen and (max-width: 430px){
    main{
    padding: 20px 0;
  }
    .navButton{
    display: block;
  }

    nav ul{
    display: none;
    flex-direction: column;
    width: 100%;
    float: none;
  }
  .firstContainer{
    flex-wrap: wrap;
    width: 90%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  .imgContainer{
    width: 10px;
    margin: 20px;
    padding: 10px;
  }
  img{
    width: 80px;
  }

  .contentContainer{
    width: auto;
    padding: 20px;
  }

  .firstH2Position{
    display: flex;
    justify-content: flex-start;
    margin: 16px 0;
  }
  .boxContainer{
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
  .boxContainer div{
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    width: 70%;
    padding: 20px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
} 
   h2{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
  }
  .padding_top{
    padding-top: 20px;
  }

  h3{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
  }
}



 /* ------------------------------------------------------------------------------------------------
 ------------------- VERSION DESKTOP, MIN WITDH DE 431PX DONC à PARTIR DE 431PX--------------------
 -------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 431px){
  main{
    padding: 20px 0;
  }
    .navButton{
    display: none;
}

    ul{
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 8px;
}
  .firstContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
  }
  .imgContainer{
    width: 1%;
    margin: 30px;
  }

  .contentContainer{
    width: 50%;
  }

  .firstH2Position{
    display: flex;
    justify-content: flex-start;
    margin: 16px 0;
  }
  .boxContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
  .boxContainer div{
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    width: 20%;
    padding: 20px;
    margin: 30px auto;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
   h2{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 10px;
}
  h3{
    margin: 30px;
  }

  p{
    margin: 10px;
  }

}
