/* ---------------------------------------------------------------------------------------------------
-------------------------CSS GLOBAL-------------------------------------------
 */

*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}

.white_txt{
    color: aliceblue;
}

.NoLine{
    list-style-type: none;
    text-decoration: none;
}

.navButton{
    float: right;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 3px;
    margin: 30px 30px 0 0;
}

main{
    background-color: rgb(247, 247, 247);
}
footer{
    background-color: rgb(34, 34, 34);
    padding: 40px;
}
.centered_txt{
    display: flex;
    justify-content: center;
}

/* ce media me permet d'avoir la version moible, de 0 à 430px */
@media screen and (max-width: 430px){
    .navButton{
    display: block;
  }

    nav ul{
    display: none;
    flex-direction: column;
    width: 100%;
    float: none;
  }
  .boxContainer{
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    width: 80%;
    padding: 15px;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
  }
   h2{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
  }
  .padding_top{
    padding-top: 20px;
  }

  h3{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
  }
}



  /* Ce media me permet d'avoir la version desktop, de 431 à jsp combien de px  */

@media screen and (min-width: 431px){
    .navButton{
    display: none;
}

    ul{
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 8px;
}
  .boxContainer{
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    width: 90%;
    padding: 30px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}
   h2{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

}
